*{
    margin: 0;
    padding: 0;
}
.clearfix:after{
    content: "";
    display: table;
    clear:both;
}
body {
    background-color: #e3e3e3;
}
 header {
     background-image: url("sunset.jpg");
/*     background-attachment: fixed;*/
/*     backaround-position: 0 -900px;*/
     background-size: cover; 
     box-sizing: border-box;
     color: #fff;
     padding: 60px 50px;
     
 }
.slogan {
    margin-top: 45px;
    text-align: center
}
.slogan  .sign-up-form {
    background-color: #fff;
    border: 1px solid aqua;
    margin: 0 auto;
    width: 300px;
}
.slogan .sign-up-form input{
    border: none;
    box-sizing: border-box;
    padding: 10px;
}
.slogan .sign-up-form input[type="text"] {
    outline: none;
    float: left;
}
.slogan .sign-up-form input[type="submit"] {
    background-color: aqua;
    color: azure;
    float: right;
}
.slogan .advertisment {
    margin-top: 20px;
    font-style: italic;
    margin-bottom: 10px
}
.slogan .emphasis { 
    font-style: italic;
    font-weight: bold;
}
nav h1 {
    float: left;
}
nav ul {
    float: right;
}
nav ul li {
    display: inline-block;
    margin-left: 20px
}
nav ul li a {
    border: 1px solid #fff;
    color: azure;
    text-decoration: none; 
    padding: 5px;
}
.wrapper { 
    margin: 0 auto;
    width: 960px;
}
